{% extends "bootstrap_base_t.html" %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">{{ title }}</a>
        </div>

        <a class="btn btn-default navbar-btn navbar-right" href={{url_for("admin_panel.logout")}}>
            Logout
        </a>
    </div>
</div>
{% endblock navbar %}

{% block mainpage %}
{% include 'flash.html' %}

<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-tabs" id="panelTab">
            <li><a href="#upload">Upload</a></li>
            <li><a href="#manage-albums">Manage albums</a></li>
            <li><a href="#manage-pictures">Manage pictures</a></li>
            <li><a href="#change-password">Change password</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade" id="upload">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% include "panel-content/upload.html" %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="manage-albums">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% include "panel-content/manage-albums.html" %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="manage-pictures">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% include "panel-content/manage-pictures.html" %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="change-password">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% include "panel-content/change-password.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/admin-panel-tabs.js"></script>
{% endblock mainpage %}
